/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-image: url('blog1.jpg'); 
    min-height: 100vh;
    background-size: contain; 

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background: rgba(51, 51, 51, 0.7);
    color: #fff;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffa500; /* Highlight color on hover */
}

/* Main Content */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(239, 16, 34, 0.5);
}

/* Blog Post Styles */
article {
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #f9f9f9;
    transition: box-shadow 0.3s;
}

article:hover {
    box-shadow: 0 4px 20px rgba(18, 169, 234, 0.5);
    transform: translateY(-5px);
    background: #eaeaea;
}

h2 {
    color: #333;
    font-size: 1.8rem;
}

article p {
    margin: 10px 0;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 5px 0;
    background: rgba(51, 51, 51, 0.7);
    color: #fff;
    
}

/* Media Queries for Responsiveness */
@media (max-width: 600px) {
    header, footer {
        padding: 15px 0;
    }

    main {
        padding: 15px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}
